<div class="container">
  <mat-toolbar>
      <span>Editar Cliente</span>
  </mat-toolbar>

  <mat-card style="margin-top: 10px;">
      <form [formGroup]="form" (ngSubmit)="editarCliente()">
          <mat-grid-list cols="1" rowHeight="70px">
              <mat-grid-tile>
                  <mat-form-field class="ancho">
                      <mat-label>Apellidos</mat-label>
                      <input matInput autocomplete="off" formControlName="apellido">
                    </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                  <mat-form-field class="ancho">
                      <mat-label>Nombre</mat-label>
                      <input matInput autocomplete="off" formControlName="nombre">
                    </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                  <mat-form-field class="ancho">
                      <mat-label>Tipo Persona</mat-label>
                      <mat-select formControlName="tipoPersona">
                        <mat-option *ngFor="let item of tipoPersona" [value]="item.id">
                          {{item.descripcion}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                  <mat-form-field class="ancho">
                      <mat-label>Tipo.Doc.</mat-label>
                      <mat-select formControlName="tipoDocumento">
                        <mat-option *ngFor="let item of tipoDocumento" [value]="item.id">
                          {{item.descripcion}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                  <mat-form-field class="ancho">
                      <mat-label>Nro.Doc.</mat-label>
                      <input matInput autocomplete="off" formControlName="numDocumento">
                    </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                  <mat-form-field class="ancho">
                      <mat-label>Dirección</mat-label>
                      <input matInput autocomplete="off" formControlName="direccion">
                    </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                  <mat-form-field class="ancho">
                      <mat-label>Referencia</mat-label>
                      <input matInput autocomplete="off" formControlName="referencia">
                    </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                  <mat-form-field class="ancho">
                      <mat-label>Correo</mat-label>
                      <input type="email" matInput autocomplete="off" formControlName="correo">
                    </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                  <mat-form-field class="ancho">
                      <mat-label>Celular</mat-label>
                      <input matInput autocomplete="off" formControlName="celular">
                    </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                  <button mat-raised-button style="margin-right: 20px;" type="button" routerLink="/dashboard/clientes">Volver</button>
                  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Aceptar</button>
              </mat-grid-tile>
          </mat-grid-list>
      </form>
  </mat-card>
</div>