<div class="container">
    <mat-toolbar>
        <span>Crear Producto</span>
    </mat-toolbar>
  
    <mat-card style="margin-top: 10px;">
        <form [formGroup]="form" (ngSubmit)="agregarProducto()">
            <mat-grid-list cols="1" rowHeight="70px">
                <mat-grid-tile>
                    <mat-form-field class="ancho">
                        <mat-label>Categoría</mat-label>
                        <mat-select formControlName="categoria">
                          <mat-option *ngFor="let item of categoria" [value]="item.id">
                            {{item.descripcion}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field class="ancho">
                        <mat-label>Nombre</mat-label>
                        <input matInput autocomplete="off" formControlName="nombre">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field class="ancho">
                        <mat-label>Precio</mat-label>
                        <input type="number" matInput autocomplete="off" formControlName="precio">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field class="ancho">
                        <mat-label>Stock</mat-label>
                        <input type="number" matInput autocomplete="off" formControlName="stock">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button mat-raised-button style="margin-right: 20px;" type="button" routerLink="/dashboard/productos">Volver</button>
                    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Aceptar</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card>
  </div>