<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

<div class="container">
    <mat-toolbar>
        <span>Productos</span>
        <div class="example-spacer"></div>
        <button mat-raised-button color="primary" routerLink="/dashboard/crear-producto">AGREGAR</button>
    </mat-toolbar>

    <div *ngIf="listProductos.length>0">        
        <div class="container">
            <table class="table text-center" width="100%"> 
              <thead>
                <tr>
                  <th scope="col">Categoría</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Stock</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody class="text-center">
                <tr *ngFor="let producto of listProductos">
                  <td class="text-center">{{producto.categoria.descripcion}}</td>
                  <td class="text-center">{{producto.nombre}}</td>
                  <td class="text-center">{{producto.precio}}</td>
                  <td class="text-center">{{producto.stock}}</td>
                  <td class="text-center">
                    <!-- Switch -->
                     <div class="form-switch text-center">
                      <input class="form-check-input" type="checkbox" checked="{{producto.estado==0? 'true':''}}" (click)="baja(producto.id)"/>
                    </div>
                  </td>
                   <!-- Acciones(Editar-Eliminar) -->
                    <td>
                        <a [routerLink]="['/dashboard/editar-producto',producto.id]" class="pointer" style="color:#1f516f" matTooltip="Editar Producto">
                            <mat-icon>edit</mat-icon>
                        </a>
                        <a class="pointer"  style="color:#e15639" matTooltip="Eliminar Producto" (click)="eliminar(producto.id)">
                            <mat-icon>delete</mat-icon>
                        </a>
                    </td>
                </tr>
                <tr>
                  <td><i class="fas fa-angle-double-left fa-2x pointer" (click)="rewind()"></i></td>
                  <td colspan="4">
                    <span *ngFor="let p of totalPages; let i = index" class="fs-5"> 
                      <a class="pointer" (click)="setPage(i)"
                      [ngClass]="{'text-secondary': i === page }">{{ i+1 }}&nbsp;&nbsp;&nbsp;</a>
                    </span>
                  </td>
                  <td><i class="fas fa-angle-double-right fa-2x pointer" (click)="forward()"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>

    <h2 *ngIf="listProductos.length==0">No existen registros para mostrar</h2>

</div>